<div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" fxFlexFill>
  <h3 fxFlex="100" fxLayoutAlign="center">Graph Path Finding Visualizer</h3>
  <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" fxFlexFill>
    <div fxLayout="row wrap" fxFlex="70" fxFlex.xs="100" class="section">
      <div *ngFor="let row of grid" fxFlex="100" fxLayout="row" [class]="rowClass">
        <div fxLayout="column" class="box" [class]="col.class" *ngFor="let col of row"
             (mouseover)="highlight(col)" (mouseleave)="removeHighlight(col)" (click)="fix(col)"></div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="20" fxFlex.xs="100" class="section" fxFlexFill>
      <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" class="sub-section">
        <div class="count" fxLayout="column" fxLayout.xs="row">
          <div><b>Visited Nodes ::</b> {{visitedCount}}</div>
          <div fxFlexOffset="5"><b>Path Nodes ::</b> {{pathCount}}</div>
        </div>
        <div class="divider"></div>
        <div fxFlex="100" fxLayout.xs="row wrap" fxLayout="column">
          <span fxFlex="10" fxFlex.xs="60">Select</span>
          <button fxFlex="25" fxFlex.xs="40" fxFlexOffset="1" (click)="setSource()" class="source" mat-raised-button>Source{{searchSource ? '(Active)' : ''}}</button>
          <button fxFlex="25" fxFlex.xs="40" fxFlexOffset="2" (click)="setDest()" class="dest" mat-raised-button>Destination{{searchDest ? '(Active)' : ''}}</button>
          <button fxFlex="25" fxFlex.xs="40" fxFlexOffset="2" (click)="setObstacle()" class="red-bg" [class]="algoClass" mat-raised-button>Obstacle{{searchObs ? '(Active)' : ''}}</button>
        </div>
        <div class="divider"></div>
        <div fxFlex="100" fxLayout.xs="row wrap" fxLayout="column">
          <button fxFlex="30" fxFlex.xs="40" fxFlexOffset="5" (click)="fillObstacles()" color="primary" mat-raised-button>Fill Obstacles</button>
          <button fxFlex="30" fxFlex.xs="40" fxFlexOffset="5" (click)="createGrid()" color="primary" mat-raised-button>Reset Maze</button>
          <div fxFlex="40" fxFlex.xs="60" fxFlexOffset="10" fxLayout="row wrap" [class]="algoClass">
            <mat-form-field fxFlex="60">
              <mat-label>Select Algorithm</mat-label>
              <mat-select [(ngModel)]="algoType">
                <mat-option *ngFor="let algo of algoTypes" [value]="algo">{{algo.label}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button fxFlex="25" fxFlex.xs="35" fxFlexOffset="5" (click)="go()" color="primary" mat-raised-button>Go</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
