<div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" fxFlexFill>
  <h3 fxFlex="100" fxLayoutAlign="center">Graph Path Finding Visualizer</h3>
  <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxFlexFill>
    <div fxLayout="column" fxFlex="50" fxFlex.xs="100" fxLayoutAlign="center" class="section" fxFlexFill>
      <div fxLayout="row wrap" fxFlex="100" class="sub-section" fxLayoutAlign="center">
        <div *ngFor="let row of grid" fxLayout="row wrap" fxFlex="80">
          <div fxLayout="row" class="box" [class]="col.class" *ngFor="let col of row"
               (mouseover)="highlight(col)" (mouseleave)="removeHighlight(col)" (click)="fix(col)"></div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.xs="100" class="section" fxFlexFill>
      <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" class="sub-section">
        <!--<div fxFlex="100" fxLayout="row" fxLayout.xs="column">
          <mat-form-field fxFlex="45" fxFlexOffset="5">
            <input placeholder="Size of the Maze" type="number" [min]="min" [max]="max" [(ngModel)]="len" (change)="createGrid()" matInput>
          </mat-form-field>
        </div>
        <div class="divider"></div>-->
        <div fxFlex="100" fxLayout="row wrap" fxLayout.xs="column">
          <span fxFlex="100">Select Source and Destination</span>
          <div fxFlex="100" fxLayout="row">
            <button fxFlex="40" fxFlexOffset="5" (click)="setSource()" color="primary" mat-raised-button>Source</button>
            <button fxFlex="40" fxFlexOffset="5" (click)="setDest()" color="primary" mat-raised-button>Destination</button>
          </div>
        </div>
        <div class="divider"></div>
        <div fxFlex="100" fxLayout="row wrap">
          <button fxFlex="40" fxFlexOffset="5" (click)="fillObstacles()" color="primary" mat-raised-button>Fill Obstacles</button>
          <button fxFlex="40" fxFlexOffset="5" (click)="createGrid()" color="primary" mat-raised-button>Reset Maze</button>
        </div>
        <div class="divider"></div>
        <div fxFlex="100" fxLayout="row wrap">
          <mat-select fxFlex="40" fxFlexOffset="5" [(ngModel)]="algoType">
            <mat-option *ngFor="let algo of algoTypes" [value]="algo">{{algo.label}}</mat-option>
          </mat-select>
          <button fxFlex="40" fxFlexOffset="5" (click)="go()" color="primary" mat-raised-button>Go</button>
        </div>
        <div class="divider"></div>
        <div fxFlex="100" fxLayout="row wrap" fxLayout.xs="column">
          <div fxFlex="50"><b>Visited Nodes ::</b> {{visitedCount}}</div>
          <div fxFlex="50"><b>Path Nodes ::</b> {{pathCount}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
